<ion-header>
  <ion-toolbar>
    <ion-title>Liste des requettes</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content padding>

        <p *ngFor="let line of mydata">Date :  {{ line.date }}

      <ion-button color="danger" expand="block" shape="round" style="font-size: 0.8em;text-transform: none;" [routerLink]="['/map',line.$key]">
        <!-- (click)="map(line.$key)" -->
       Voir
      </ion-button>
      </p>
  </ion-content>
    
  

