<!-- <ion-content  color="medium" padding> -->
  <ion-content color="default" padding>
    <div class="logo">
      <img src="../../assets/img/piklaarondi.png">
    </div>
    <ion-item lines="none">
        <ion-label color="light" class="ion-text-center">Bienvenue sur PIKLA Driver!</ion-label>
    </ion-item>
    <div class="padding">
      <ion-item>
      <ion-button color="danger" expand="block" shape="round" style="font-size: 0.8em;text-transform: none;" type="ngSubmit" (click)="task()">
        Consulter la liste des requettes
        <!--   <ion-icon name="log-in" slot="start" color="light"></ion-icon> -->
      </ion-button>
    </ion-item>
      <ion-item>
        <ion-button color="danger" expand="block" shape="round" style="font-size: 0.8em;text-transform: none;" type="ngSubmit" (click)="task_online()">
          Rendez-Vous  
        </ion-button>
      </ion-item>
    </div>
    <button ion-item icon-start (click)="onDisconnect()" *ngIf="isAuth">
      <ion-icon name="exit"></ion-icon>
      Déconnexion
    </button>
  </ion-content>