<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p> Nom :  {{ nom }}  </p>
<p>Contact rapide : {{ phone }} </p>
<p>Temps : {{ temps }} minutes</p>
<p>Distance : {{ distance }} km  </p> <br>
<ion-button color="danger" expand="block" shape="round" style="font-size: 0.8em;text-transform: none;" (click)="ok()">
  <!-- (click)="map(line.$key)" -->
 Accepte cette tache
</ion-button><br>
<h1>Trajet : </h1>

<br>
<div id="mapId" style="height:350px"></div><br>

</ion-content>
