<ion-content >
  <div class="padding">
    <div class="logo">
      <!-- <ion-icon color="light" name="car"></ion-icon>-->
      <!-- <ion-icon color="light" name="contact"></ion-icon> -->
      <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
      <img src="../../assets/img/piklaarondi.png"> 
    </div>

     <form #form="ngForm" (ngSubmit)="connexion(form)">

     <ion-item >
        <ion-icon color="light" name="person"></ion-icon> 
        <ion-input  name="email"  color="light" type="mail"  placeholder="Adresse email" ngModel required></ion-input>
      </ion-item>

     <ion-item>
         <ion-icon color="light" name="lock-closed"></ion-icon> 
         <ion-input  name="password" color="light"  type="password"  placeholder="Mot de passe" ngModel required></ion-input>
     </ion-item>
      <ion-item lines="none">
        <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
      </ion-item>
      <ion-button type="submit" color="light" [disabled]="form.invalid" expand="block" shape="round" fill="outline"  >Connexion</ion-button>
    </form>
    <br>
  </div>
</ion-content>
