<ion-header>
  <ion-toolbar>
    <ion-title>Les Rendez-Vous</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content padding>

        <p *ngFor="let line of mydata">Demande du {{ line.date_creation }} pour le:  {{ line.date }} 

      <ion-button color="danger" expand="block" shape="round" style="font-size: 0.8em;text-transform: none;" [routerLink]="['/map1',line.$key]">
        <!-- (click)="map(line.$key)" -->
       Voir
      </ion-button>
      </p>
  </ion-content>
    
  

